body { padding-bottom: 70px; }

#btn-group-power {
position: relative;
left: 40%
}

#form-group-brightness {
margin-top: 40pt;
}

#colorPaletteTemplate {
width: 50%;
float: left;
}

.color-wheel{
margin-top: 20px;
}

